## .gitignore ##

## CGViewer-Project ##

# will be dynamically generated
Makefile

# the binary
CGViewer

# temp files while compiling
moc/
obj/

*.sh


## PREDEFINED ##

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
